:root {
    --white: #fff;
    --primary: #875FFF;
    --black: #0f172a;
    --text: #fff;
    --bg: #f8f7f5;
}

.text-white {
    color: var(--white);
}

.text-pink {
    background: linear-gradient(88.19deg, #45193C 4.95%, #752B66 97.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    // text-fill-color: transparent;
}

.bg-gradient3 {
    background: rgb(252, 237, 213);
    background: -moz-linear-gradient(153deg, rgba(252, 237, 213, 0) 0%, rgba(255, 240, 216, 1) 100%);
    background: -webkit-linear-gradient(153deg, rgba(252, 237, 213, 0) 0%, rgba(255, 240, 216, 1) 100%);
    background: linear-gradient(153deg, rgba(252, 237, 213, 0) 0%, rgba(255, 240, 216, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcedd5", endColorstr="#fff0d8", GradientType=1);
}
.text-brown{
    color: #583229;
}