/* PRELOADER CSS */
.page-loader{
	width: 100%;
	height: 100vh;
	position: absolute;
	background: var(--white);
	z-index: 1000;
	.txt{
		color: #666;
		text-align: center;
		top: 40%;
		position: relative;
		text-transform: uppercase;
		letter-spacing: 0.3rem;
		font-weight: bold;
		line-height: 1.5;
	}
}

/* SPINNER ANIMATION */
.spinner {
	position: relative;
	top: 35%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.loading{
    width: 150px;
    height: 150px;
    background-color: #f9f9f9;
    background-image: url(../img/loading.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

.moving{
    width: auto;
    height: 30px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background-color: var(--white);
    opacity: 0.5;
    animation: move 5s linear infinite;
}

/* Keyframe animation for moving the div */
@keyframes move {
    0% {
      transform: translateY(0); /* Start position */
    }
    50% {
      transform: translateY(200px); /* Move 200px to the right */
    }
    100% {
      transform: translateY(0); /* Return to the start position */
    }
  }