.text-gradient {
    background: linear-gradient(86deg, #C28B5E 5.15%, #FFE4CE 47.6%, #C28B5E 95.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;

    @media (min-width: 992px) {
        font-size: 60px;
    }
}

.h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;

    @media (min-width: 992px) {
        font-size: 46px;
    }
}
.h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;

    @media (min-width: 992px) {
        font-size: 36px;
    }
}

.big-text {
    font-size: 32px;
    color: var(--white);
}

p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    color: #666666;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0;
}

.fs-4{
    font-size: 4px;
}
.fs-8{
    font-size: 8px;
}
.fs-16{
    font-size: 16px;
}
.fs-24{
    font-size: 24px;
}
.fs-48{
    font-size: 48px;
}
.fs-96{
    font-size: 96px;
}