body {
  font-family: "Quicksand", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

h1, h2, h3, h4, h5, p, a, div {
  line-height: 1.5em;
}

a {
  text-decoration: none !important;
  transition: all 0.5s ease;
}
a:hover {
  text-decoration: none !important;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-control-lg {
  font-size: 14px;
  height: 50px;
  border: 1px solid #e1e1e1;
}

.w-300 {
  width: 300px;
}

.bullete {
  padding-left: 15px;
}
.bullete li {
  list-style-type: disc;
  padding-bottom: 16px;
}

.btn-primary {
  padding: 0px 16px;
  height: 48px;
  border: 1px solid transparent;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.09);
  font-size: 16px;
  color: white;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.5s ease;
  gap: 4px;
}
.btn-primary span {
  background: linear-gradient(45deg, #B78B3A, #E2D8C4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.btn-primary i {
  background: linear-gradient(45deg, #B78B3A, #E2D8C4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.btn-primary::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 1px;
  background: linear-gradient(45deg, #B78B3A, #E2D8C4);
  -webkit-mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
  mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  transition: all 0.5s ease;
}

.btn-primary:hover::before {
  background: linear-gradient(45deg, #E2D8C4, #B78B3A);
  transition: all 0.5s ease;
  /* Reverse gradient on hover */
}

.btn-light {
  padding: 0px 16px;
  height: 48px;
  border: 1px solid var(--white);
  border-radius: 8px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-light:hover {
  opacity: 0.5;
}

.btn-action {
  width: 60px;
  height: 60px;
  border-radius: 160px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #000;
}
.btn-action i {
  color: #000;
  transition: all 0.5s ease;
}
.btn-action:hover i {
  transform: rotate(47deg);
}

header {
  height: auto;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 48px 0px;
  transition: all 0.5s ease;
}
header .menus {
  display: flex;
  margin: 0px;
  padding: 0px;
}
header .menus li a {
  color: #8C8B8B;
  font-size: 14px;
  font-weight: 600;
}
header .menus li a:hover {
  color: var(--white);
}
header .menus li .active {
  color: var(--white);
}

@media (min-width: 992px) {
  header .logo {
    width: 210px;
  }
  header .menus {
    gap: 16px;
  }
}
@media (min-width: 1200px) {
  header .logo {
    width: 250px;
  }
  header .menus {
    gap: 32px;
  }
}
.sm-header {
  background-color: #000000;
  padding: 16px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}
.sm-header .btn-primary {
  width: 48px;
  height: 48px;
}
.sm-header .btn-primary i {
  font-size: 24px;
}
.sm-header .logo {
  height: 46px;
}

.offcanvas {
  background-color: #000000;
  width: 80% !important;
  display: flex;
}
.offcanvas .offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px;
}
.offcanvas .offcanvas-body .menus {
  gap: 48px;
}
.offcanvas .offcanvas-body .menus li a {
  color: var(--white);
  padding: 16px 0px;
  display: flex;
}
.offcanvas .offcanvas-body .btn-primary {
  margin-top: 48px;
}
.offcanvas .close {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--white);
  padding: 24px 0px;
}

.whatsap {
  position: fixed;
  bottom: 24px;
  right: 24px;
}
.whatsap a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 160px;
  background-color: #2CB058;
  color: var(--white);
  font-size: 30px;
}
@media (min-width: 992px) {
  .whatsap {
    bottom: 100px;
    right: 100px;
  }
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(44, 176, 88, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(44, 176, 88, 0);
  }
}
.pulse2 {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}
.fixed-head {
  background-color: rgba(0, 0, 0, 0.83);
  padding: 24px 0px;
  z-index: 9;
}

.carousel-inner {
  padding: 0px 3px !important;
  margin: 2px 0px;
}

.padding-top {
  padding-top: 24px;
}

.padding-bottom {
  padding-bottom: 24px;
}

@media (min-width: 768px) {
  .padding-top {
    padding-top: 50px;
  }
  .padding-bottom {
    padding-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .padding-top {
    padding-top: 100px;
  }
  .padding-bottom {
    padding-bottom: 100px;
  }
}
.extra-b-padding {
  padding-bottom: 50px;
}
@media (min-width: 992px) {
  .extra-b-padding {
    padding-bottom: 100px;
  }
}

/* PRELOADER CSS */
.page-loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: var(--white);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
}

/* SPINNER ANIMATION */
.spinner {
  position: relative;
  top: 35%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-scaleout 1s infinite ease-in-out;
}
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.loading {
  width: 150px;
  height: 150px;
  background-image: url(../img/loading.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
  border-radius: 160px;
}

.moving {
  width: auto;
  height: 30px;
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-color: var(--white);
  opacity: 0.5;
  animation: move 5s linear infinite;
}

/* Keyframe animation for moving the div */
@keyframes move {
  0% {
    transform: translateY(0);
    /* Start position */
  }
  50% {
    transform: translateY(200px);
    /* Move 200px to the right */
  }
  100% {
    transform: translateY(0);
    /* Return to the start position */
  }
}
:root {
  --white: #fff;
  --primary: #875FFF;
  --black: #0f172a;
  --text: #fff;
  --bg: #f8f7f5;
}

.text-white {
  color: var(--white);
}

.text-pink {
  background: linear-gradient(88.19deg, #45193C 4.95%, #752B66 97.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-gradient3 {
  background: rgb(252, 237, 213);
  background: linear-gradient(153deg, rgba(252, 237, 213, 0) 0%, rgb(255, 240, 216) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcedd5", endColorstr="#fff0d8", GradientType=1);
}

.text-brown {
  color: #583229;
}

.bg-gallery {
  background: linear-gradient(239.09deg, #352D2D 0%, #0F0F0F 100%), linear-gradient(180deg, #FFF0D8 0%, rgba(253, 239, 214, 0) 50.5%, rgba(255, 240, 216, 0.1) 100%);
}

.main-banner {
  width: 100%;
  height: auto;
  background-image: url(../img/banner.webp);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 200px 0px 100px 0px;
}

@media (min-width: 768px) {
  .main-banner {
    padding: 200px 0px 150px 0px;
  }
}
@media (min-width: 992px) {
  .main-banner {
    height: 100vh;
  }
}
.text-gradient {
  background: linear-gradient(86deg, #C28B5E 5.15%, #FFE4CE 47.6%, #C28B5E 95.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}
@media (min-width: 992px) {
  .h1 {
    font-size: 60px;
  }
}

.h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}
@media (min-width: 992px) {
  .h2 {
    font-size: 46px;
  }
}

.h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}
@media (min-width: 992px) {
  .h3 {
    font-size: 36px;
  }
}

.big-text {
  font-size: 32px;
  color: var(--white);
}

p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 33px;
  color: #666666;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0;
}

.fs-4 {
  font-size: 4px;
}

.fs-8 {
  font-size: 8px;
}

.fs-16 {
  font-size: 16px;
}

.fs-24 {
  font-size: 24px;
}

.fs-48 {
  font-size: 48px;
}

.fs-96 {
  font-size: 96px;
}

.bg-section {
  background-color: #E0B464;
  background-image: url(../img/bg-mode.webp);
  background-position: top right;
  background-size: 440px;
  background-repeat: no-repeat;
}

.box-img {
  width: 100%;
  display: flex;
}
.box-img img {
  width: 100%;
}

@media (min-width: 992px) {
  .box-img {
    width: 281px;
  }
}
.team-pic {
  width: 100%;
  height: 470px;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
}
@media (min-width: 992px) {
  .team-pic {
    height: 600px;
    border-radius: 10px 0px 0px 10px;
  }
}
.team-pic img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.white-box {
  background-color: var(--white);
  border-radius: 0px 0px 10px 10px;
  min-height: auto;
  padding: 24px;
}
@media (min-width: 992px) {
  .white-box {
    padding: 48px;
    min-height: 600px;
    border-radius: 0px 10px 10px 0px;
  }
}

.devider-img img {
  width: 100%;
}
@media (min-width: 992px) {
  .devider-img img {
    width: auto;
  }
}

.carousel-indicators {
  bottom: -50px;
}

.carousel-indicators [data-bs-target] {
  background-color: #000000;
}

.bg-here {
  background-image: url(../img/hero.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 660px;
}
.bg-here .loading {
  width: 142px;
  height: 142px;
}
.bg-here .loading .moving {
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.box-service {
  height: 526px;
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.box-service img {
  width: 100%;
  height: 526px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s ease;
}
.box-service .overlay-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.83);
  border-radius: 20px;
  padding: 24px;
  display: flex;
  align-items: end;
  text-align: left;
  opacity: 0;
  transition: all 0.5s ease;
}
@media (min-width: 992px) {
  .box-service .overlay-box {
    padding: 48px;
  }
}
.box-service .overlay-box p {
  color: #fff;
}

.box-title {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.18%, rgba(0, 0, 0, 0.6) 79.82%);
  border-radius: 20px;
  padding: 24px;
  display: flex;
  align-items: end;
  text-align: left;
  transition: all 0.5s ease;
}
@media (min-width: 992px) {
  .box-title {
    padding: 48px;
  }
}

.box-service:hover .overlay-box {
  opacity: 1;
}

.box-service:hover img {
  transform: scale(1.2);
  /* Zoom effect */
}

.box-service:hover .box-title {
  display: none;
}

.box-testimonial {
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.84);
  border-radius: 20px;
  position: relative;
  padding: 24px;
}
@media (min-width: 992px) {
  .box-testimonial {
    padding: 48px;
  }
}
.box-testimonial .starts img {
  height: 20px;
}

.box-testimonial::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(45deg, #B78B3A, #E2D8C4);
  z-index: -1;
  border-radius: 22px;
}

.image-testi {
  width: 60px;
  height: 60px;
  border-radius: 160px;
  overflow: hidden;
  background-color: #f1f1f1;
}
.image-testi img {
  width: 100%;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 10px;
}

.gallery-item {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: all 0.5s ease;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 1200px;
  overflow: hidden;
  border-radius: 20px;
  overflow: hidden;
}

.lightbox-slide {
  display: none;
  width: 100%;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: translateX(100%);
}

.lightbox-slide.active {
  display: block;
  opacity: 1;
  transform: translateX(0);
}

.lightbox-slide.prev {
  transform: translateX(-100%);
}

.lightbox-slide.next {
  transform: translateX(100%);
}

.lightbox-slide img {
  width: 100%;
  height: auto;
}

.close {
  color: white;
  position: absolute;
  top: 20px;
  right: 35px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
@media (min-width: 992px) {
  .close {
    font-size: 30px;
  }
}

.close:hover {
  color: #ccc;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 24px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.5s ease;
}
@media (min-width: 992px) {
  .prev,
  .next {
    font-size: 30px;
  }
}

.next {
  right: 0;
}

.prev:hover i,
.next:hover i {
  opacity: 0.6;
}

.box-control {
  display: flex;
  width: 34px;
  height: 34px;
  border: 1px solid rgba(241, 241, 241, 0.2392156863);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .box-control {
    width: 50px;
    height: 50px;
  }
}

.testimonial-slider {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.slider-container {
  display: flex;
  overflow: hidden;
  position: relative;
}

.testimonial-card {
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  transform: translateX(100%);
  position: absolute;
  top: 0;
  left: 0;
}

.testimonial-card.active {
  opacity: 1;
  transform: translateX(0);
}

.testimonial-card p {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.testimonial-card h4 {
  font-size: 16px;
  color: #777;
}

.slider-dots {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.dot {
  width: 10px;
  height: 10px;
  background: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.dot.active {
  background: #333;
}/*# sourceMappingURL=main.css.map */